.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
src/*
public/*
package-lock.json
.babelrc
.gitattributes
.webpack.config.js
public/**/*
src/**/*
package-lock.json
webpack.config.js
.babelrc
.gitattributes